@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.swiper-wrapper{
  padding-bottom: 50px !important;
}

#nprogress .bar {  
  background: #fff; /* Change the color here */
  height: 10px;

}  

#nprogress .peg {  
  box-shadow: 0 0 10px #29d, 0 0 5px #29d; /* Customize shadow */  
}  

#nprogress .spinner {  
  border-top-color: #fff; /* Change spinner color */  

}