@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.swiper-wrapper{
  padding-bottom: 50px !important;
}
@media (max-width : 639.98px) {
  .socal-links svg{
    width: 80%;
}
}
